# Financial API Keys
# Get your keys from:
# CollectAPI (Gold & Currency): https://collectapi.com/tr/api/economy/altin-fiyatlari-api
# Metals-API: https://metals-api.com/
VITE_COLLECT_API_KEY=
VITE_METALS_API_KEY=
